<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add
      name="MVCSeguranca_BASE"
      connectionString ="Data Source=ALLSPARK\SQLEXPRESS;Initial Catalog=MVCSeguranca;Integrated Security=True"
      providerName="System.Data.Linq" />
      
  </connectionStrings>

</configuration>