<?xml version="1.0"?>

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
     
      
      <pages validateRequest="false" />
      <httpRuntime requestValidationMode ="2.0"/>
      <httpModules>
        <add name="AntiXSSModule" type="Microsoft.Security.Application.SecurityRuntime.AntiXSSModule"/>
      </httpModules>
    </system.web>
</configuration>