<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <!--<section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>-->
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  
  <spring>
    <context>
      
      <!-- Arquivo contendo as configurações para conexão ao Banco de Dados com NHibernate -->
      <resource uri="file://~/Orm/Orm.xml" />
      
      <!-- Arquivo contento os Objetos de Entidades -->
      <resource uri="file://~/Entidade/Entidade.xml" />
      
      <!-- Arquivo contendo os Objetos de DAO -->
      <resource uri="file://~/Dal/Dao.xml" />
      
      <!-- Arquivo contendo os Objetos de Regra de Negócios-->
      <resource uri="file://~/Negocio/Negocio.xml" />

      <!-- Arquivo contendo os Objetos de Controllers -->
      <resource uri="file://~/Web/Controle.xml" />
      
      <!-- Arquivo contendo os Objetos de Visão -->
      <resource uri="file://~/Web/Visao.xml" />      
      
      <!-- Arquivo contendo os Objetos Dto-->
      <resource uri="file://~/Dto/Dto.xml" />
      
    </context>
  </spring>
  
</configuration>