<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler
               , Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler
               ,Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database">

      <!-- Referenced by main application context configuration file -->
      <description>
        Definição de Objetos para acesso com o NHibernate junto com o Spring.NET
      </description>

      <!-- Property placeholder configurer for database settings -->
      <object type="Spring.Objects.Factory.Config.PropertyPlaceholderConfigurer, Spring.Core">
        <property name="ConfigSections" value="databaseSettings"/>
      </object>

      <!-- Database Configuration -->
      <db:provider id="DbProvider" provider="SqlServer-2.0" connectionString="Data Source=ALLSPARK\SQLEXPRESS;Initial Catalog=LOJA;Integrated Security=True"/>

      <!-- NHibernate Configuration -->
      <object id="NHibernateSessionFactory" type="Spring.Northwind.Dao.NHibernate.CustomLocalSessionFactoryObject, Spring.Northwind.Dao.NHibernate">
        <property name="DbProvider" ref="DbProvider"/>
        <property name="MappingAssemblies">
          <list>
            <value>DAL</value>
          </list>
        </property>
        <property name="HibernateProperties">
          <dictionary>
            <entry key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
            <entry key="dialect" value="NHibernate.Dialect.SQLiteDialect"/>
            <entry key="connection.driver_class" value="NHibernate.Driver.SQLite20Driver"/>
            <entry key="use_proxy_validator" value="false"/>
            <entry key="show_sql" value="true"/>
          </dictionary>
        </property>

        <!-- provides integation with Spring's declarative transaction management features -->
        <property name="ExposeTransactionAwareSessionFactory" value="true"/>

      </object>

      <!-- Transaction Management Strategy - local database transactions -->
      <object id="transactionManager" type="Spring.Data.NHibernate.HibernateTransactionManager, Spring.Data.NHibernate21">

        <property name="DbProvider" ref="DbProvider"/>
        <property name="SessionFactory" ref="NHibernateSessionFactory"/>

      </object>

      <!-- Exception translation object post processor -->
      <object type="Spring.Dao.Attributes.PersistenceExceptionTranslationPostProcessor, Spring.Data"/>

      <!-- Data Access Objects -->
      <object id="EstoqueDAO" type="DAL.Persistencia.Spring.SpringEstoqueDAO, DAL">
        <property name="FabricaDeSessao" ref="transactionManager"/>
      </object>

      <object id="FornecedorDAO" type="DAL.Persistencia.Spring.SpringFornecedorDAO, DAL">
        <property name="FabricaDeSessao" ref="transactionManager"/>
      </object>

      <object id="ItemNotaDAO" type="DAL.Persistencia.Spring.SpringItemNotaDAO, DAL">
        <property name="FabricaDeSessao" ref="transactionManager"/>
      </object>

      <object id="NotaFiscalDAO" type="DAL.Persistencia.Spring.SpringNotaFiscalDAO, DAL">
        <property name="FabricaDeSessao" ref="transactionManager"/>
      </object>

      <object id="ProdutoDAO" type="DAL.Persistencia.Spring.SpringProdutoDAO, DAL">
        <property name="FabricaDeSessao" ref="transactionManager"/>
      </object>
      <!--
      <object id="CustomerDao" type="Spring.Northwind.Dao.NHibernate.HibernateCustomerDao, Spring.Northwind.Dao.NHibernate">
        <property name="SessionFactory" ref="NHibernateSessionFactory"/>
      </object>

      <object id="OrderDao" type="Spring.Northwind.Dao.NHibernate.HibernateOrderDao, Spring.Northwind.Dao.NHibernate">
        <property name="SessionFactory" ref="NHibernateSessionFactory"/>
      </object>

      <object id="CustomerClassificationCalculator" type="Spring.Northwind.Domain.DefaultCustomerClassificationCalculator, Spring.Northwind.Dao">

      </object>

      <object id="CustomerEntityProtoType" type="Spring.Northwind.Domain.Customer, Spring.Northwind.Dao" singleton="false">
        <constructor-arg ref="CustomerClassificationCalculator" />
      </object>
      -->
    </objects>
</spring>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
