<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add 
      name="LINQTOSQL"
      connectionString="Data Source=ALLSPARK\SQLEXPRESS;Initial Catalog=ARTIGOGABRIEL_01;Integrated Security=True"
      providerName="System.Data.Linq"
      />
    
  </connectionStrings>
  
</configuration>