<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Conexao" connectionString="metadata=res://*/Entidades.csdl|res://*/Entidades.ssdl|res://*/Entidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALLSPARK\SQLEXPRESS;initial catalog=MVCSeguranca112;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>